@charset "UTF-8";

/* Mobile paisagem e Tablet retrato*/
@media screen and (min-width: 768px) {
    #skill-container {
        grid-template-columns: 1fr 1fr;
    }

    #projeto-container .projeto {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #projeto-container .projeto-info {
        max-width: 70%;
    }

    #projeto-container .foto {
        max-width: 30%;
    }

    footer p {
        font-size: 0.8em;
    }
}

/* Tablet paisagem e Notebook */
@media screen and (min-width: 1024px) {

}

/* Desktop e TV */
@media screen and (min-width: 1440px) {

}