@charset "UTF-8";

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

body {
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav#menu ul {
    display: flex;
    gap: 20px;
}

nav#menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--texto-inverso);
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
}

nav#menu ul li a:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}

nav#menu ul li a span {
    font-size: 1.8em;
}

main {
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
    margin-top: 20px;
}

section#ficha {
    grid-column: 2 / 3;
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 8px;
}

section#ficha img.foto {
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid var(--fundo-card);
    outline: 3px solid var(--destaque);
    display: block;
    margin: 10px auto 30px auto;
}

section#ficha h1 {
    font-size: 2em;
    font-weight: bold;
    color: var(--destaque);
    margin: 15px 0;
}

section#ficha div#social ul {
    display: flex;
    gap: 23px;
    margin-top: 15px;
}

section#ficha div#social ul li a i {
    font-size: 25px;
    color: var(--destaque);
}

section#ficha div#social ul li a i:hover {
    color: var(--destaque-inverso);
}

section#detalhes {
    grid-column: 2 / 3;
}

article {
    background-color: var(--fundo-card);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

article h2 {
    color: var(--destaque);
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 20px;
}

#skill-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

#skill-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#skill-container .nome {
    font-weight: bold;
    color: var(--texto);
}

#skill-container .porcent {
    font-weight: bold;
    color: var(--destaque);
}

#skill-container .barra {
    background-color: var(--fundo-principal);
    width: 100%;
    height: 8px;
    border-radius: 4px;
}

#skill-container .progresso {
    background-color: var(--destaque-inverso);
    height: 100%;
    border-radius: 4px;
}

#formacao-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

#formacao-container .curso {
    background-color: var(--fundo-principal);
    border-left: 5px solid var(--destaque-inverso);
    border-radius: 8px;
    padding: 5px 15px;
    transition: border-width 0.3s, border-color 0.5s;
}

#formacao-container .curso:hover {
    border-left-width: 20px;
    border-color: var(--destaque);
}

#formacao-container .periodo {
    font-size: 0.8em;
    font-weight: bold;
}

#formacao-container .titulacao {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--destaque-inverso);
}

#formacao-container .titulacao:hover {
    color: var(--destaque);
}

#formacao-container .instituicao {
    font-size: 1em;
}

#projeto-container {
    display: flex;
    flex-flow: column-reverse nowrap;
    gap: 20px;
}

#projeto-container .projeto {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    background-color: var(--fundo-principal);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--destaque);
}

#projeto-container .foto {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
}

#projeto-container .titulo {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}

#projeto-container .desc {
    margin-bottom: 10px;
}

#projeto-container a {
    font-size: 1.1em;
    font-weight: bold;
    color: #0077ff;
}

#projeto-container a:hover {
    color: var(--destaque-inverso);
    text-decoration: underline;
}

footer {
    background-color: var(--destaque);
    color: var(--texto-inverso);
    text-align: center;
    padding: 2px;
}

footer p {
    font-size: 0.7em;
}