@charset "UTF-8";

:root {
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    list-style: none;
}

body {
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header {
    background-color: var(--destaque);
    color: var(--texto);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav#menu ul{
    display: flex;
    gap: 10px;
}

nav#menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--texto-inverso);
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
}

nav#menu ul li a:hover {
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}

nav#menu ul li a span {
    font-size: 1.8em;
}